In [91]:
import pandas as pd
import numpy as np
import json
from IPython.display import display

## sklearn imports
import sklearn.linear_model
import sklearn.cross_validation
import sklearn.tree
import sklearn.ensemble
import sklearn.preprocessing
import sklearn.feature_selection
import sklearn.pipeline
import sklearn.grid_search

# Data Science Analysis

### 1. Descriptive
* Using pandas and numpy, preprocess the data by:
    - reading in the data
    - transforming features and labels to numerical data
    Use OneHotEncoder object in scikit-learn, or get_dummies in pandas
    - pick a modeling strategy (classification vs. regression)
    - make a train/test split using cross_val_score
    - evaluate several different models

### 2. Exploratory

### 3. Inferential

### 4. Prediction

### 5. Mechanistic

#### Some References:
1. https://civisanalytics.com/blog/data-science/2016/01/06/workflows-python-using-pipeline-gridsearchcv-for-compact-code/
2. http://blog.datadive.net/selecting-good-features-part-iii-random-forests/

## Use Pandas and Numpy For Preprocessing

In [33]:
features_df = pd.DataFrame.from_csv("well_train_values.csv")
labels_df   = pd.DataFrame.from_csv("well_train_labels.csv") 
display(labels_df.head(10))
display(features_df.head())

         status_group
id
69572      functional
8776       functional
34310      functional
67743  non functional
19728      functional
9944       functional
19816  non functional
54551  non functional
53934  non functional
46144      functional

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [34]:
def label_map(y):
    if y=="functional":
        return 2
    elif y=="functional needs repair":
        return 1
    else:
        return 0
labels_df = labels_df.applymap(label_map)
display(labels_df.head())

       status_group
id
69572             2
8776              2
34310             2
67743             0
19728             2

In [43]:
print 'The columns that are categorical are: '
for column in features_df.columns:
    col_df = features_df[column]
    if col_df.dtype == 'object':
        print '\t', column

The columns that are categorical are:
	date_recorded
	funder
	installer
	wpt_name
	basin
	subvillage
	region
	lga
	ward
	public_meeting
	recorded_by
	scheme_management
	scheme_name
	permit
	extraction_type
	extraction_type_group
	extraction_type_class
	management
	management_group
	payment
	payment_type
	water_quality
	quality_group
	quantity
	quantity_group
	source
	source_type
	source_class
	waterpoint_type
	waterpoint_type_group

In [47]:
def transform_feature( df, column_name ):
    unique_values = set( df[column_name].tolist() )
    transformer_dict = {}
    
    # enumerate each unique category into a list of values
    for ii, value in enumerate(unique_values):
        transformer_dict[value] = ii

    def label_map(y):
        return transformer_dict[y]
    
    df[column_name] = df[column_name].apply( label_map )
    return df

### list of column names indicating which columns to transform; 
### this is just a start!  Use some of the print( labels_df.head() )
### output upstream to help you decide which columns get the
### transformation
names_of_columns_to_transform = ["funder", "installer", "wpt_name", "basin", "subvillage",
                    "region", "lga", "ward", "public_meeting", "recorded_by",
                    "scheme_management", "scheme_name", "permit",
                    "extraction_type", "extraction_type_group",
                    "extraction_type_class",
                    "management", "management_group",
                    "payment", "payment_type",
                    "water_quality", "quality_group", "quantity", "quantity_group",
                    "source", "source_type", "source_class",
                    "waterpoint_type", "waterpoint_type_group"]

for column in names_of_columns_to_transform:
    features_df = transform_feature( features_df, column )
    
### remove the "date_recorded" column--we're not going to make use
### of time-series data today
if 'date_recorded' in features_df.columns:
    features_df.drop("date_recorded", axis=1, inplace=True)

# display the new head and the values of the columns
display( features_df.head() )
display(features_df.columns.values)

,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,1539,1390,1749,34.938093,-9.856322,15203,0,5,9384,...,4,0,0,2,2,1,1,1,1,1
8776,0.0,774,1399,136,34.698766,-2.147466,5611,0,7,3466,...,5,0,0,1,1,6,4,2,1,1
34310,25.0,906,686,1400,37.460664,-3.821329,6138,0,6,11348,...,1,0,0,2,2,7,5,2,4,1
67743,0.0,590,263,556,38.486161,-11.155298,1252,0,1,8105,...,5,0,0,0,0,2,6,1,4,1
19728,0.0,1341,0,537,31.130847,-1.825359,29682,0,7,18660,...,5,0,0,3,3,6,4,2,1,1

array(['amount_tsh', 'funder', 'gps_height', 'installer', 'longitude',
       'latitude', 'wpt_name', 'num_private', 'basin', 'subvillage',
       'region', 'region_code', 'district_code', 'lga', 'ward',
       'population', 'public_meeting', 'recorded_by', 'scheme_management',
       'scheme_name', 'permit', 'construction_year', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source',
       'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'], dtype=object)

In [48]:
X = features_df.as_matrix()
y = labels_df["status_group"].tolist()

## 01: Logistic Regression, Decision Tree and Random Forest

In [63]:
N = float(len(y))
for i in np.unique(y):
    print 'Baseline for: ', i, ' ', y.count(i), ' ', y.count(i)/N

Baseline for:  0   22824   0.384242424242
Baseline for:  1   4317   0.0726767676768
Baseline for:  2   32259   0.543080808081

In [51]:
# regular ridge regularization
clf = sklearn.linear_model.LogisticRegression()
score = sklearn.cross_validation.cross_val_score(clf, X, y)
print score

[ 0.6879798   0.68373737  0.68469697]

In [53]:
# lasso regularization
clf = sklearn.linear_model.LogisticRegression(penalty='l1')
score = sklearn.cross_validation.cross_val_score(clf, X, y)
print score

[ 0.68893939  0.68631313  0.68691919]

In [62]:
# decision tree classifier
clf = sklearn.tree.DecisionTreeClassifier()
score = sklearn.cross_validation.cross_val_score( clf, X, y )
print( score )

# random forest classifier
clf = sklearn.ensemble.RandomForestClassifier()
score = sklearn.cross_validation.cross_val_score( clf, X, y )
print( score )

[ 0.73893939  0.73858586  0.73146465]
[ 0.7880303   0.78727273  0.78373737]

## 02: Further PreProcessing

In [65]:
def hot_encoder(df, column_name):
    column = df[column_name].tolist()
    column = np.reshape( column, (len(column), 1) )  ### needs to be an N x 1 numpy array
    enc = sklearn.preprocessing.OneHotEncoder()
    enc.fit( column )
    new_column = enc.transform( column ).toarray()

    ### making titles for the new columns, and appending them to dataframe
    for ii in range( len(new_column[0]) ):
        this_column_name = column_name+"_"+str(ii)
        df[this_column_name] = new_column[:,ii]
    return df

In [70]:
print(features_df.columns.values)

try:
    features_df.drop( "funder", axis=1, inplace=True )
    features_df.drop( "installer", axis=1, inplace=True )
    features_df.drop( "wpt_name", axis=1, inplace=True )
    features_df.drop( "subvillage", axis=1, inplace=True )
    features_df.drop( "ward", axis=1, inplace=True )

    names_of_columns_to_transform.remove("funder")
    names_of_columns_to_transform.remove("installer")
    names_of_columns_to_transform.remove("wpt_name")
    names_of_columns_to_transform.remove("subvillage")
    names_of_columns_to_transform.remove("ward")
    
    for feature in names_of_columns_to_transform:
        features_df = hot_encoder( features_df, feature )
except:
    print 'Already removed large columns'

['amount_tsh' 'gps_height' 'longitude' ..., 'waterpoint_type_group_3'
 'waterpoint_type_group_4' 'waterpoint_type_group_5']
Already removed large columns

In [71]:
display(features_df.head())

,amount_tsh,gps_height,longitude,latitude,num_private,basin,region,region_code,district_code,lga,...,waterpoint_type_3,waterpoint_type_4,waterpoint_type_5,waterpoint_type_6,waterpoint_type_group_0,waterpoint_type_group_1,waterpoint_type_group_2,waterpoint_type_group_3,waterpoint_type_group_4,waterpoint_type_group_5
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,1390,34.938093,-9.856322,0,5,7,11,5,65,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
8776,0.0,1399,34.698766,-2.147466,0,7,3,20,2,86,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
34310,25.0,686,37.460664,-3.821329,0,6,4,21,4,11,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
67743,0.0,263,38.486161,-11.155298,0,1,20,90,63,122,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19728,0.0,0,31.130847,-1.825359,0,7,1,18,1,70,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [81]:
X = features_df.as_matrix()
y = labels_df["status_group"].as_matrix()
y = np.asarray(y)
print X.shape
print y.shape
selecter = sklearn.feature_selection.SelectKBest(k=100)
selected_x = selecter.fit_transform(X, y)

print selected_x.shape

(59400, 3031)
(59400,)

/usr/local/lib/python2.7/site-packages/sklearn/feature_selection/univariate_selection.py:113: UserWarning: Features [ 12 191] are constant.
  UserWarning)

(59400, 100)

In [82]:
## show new classification results from the new features

# regular ridge regularization
clf = sklearn.linear_model.LogisticRegression()
score = sklearn.cross_validation.cross_val_score(clf, X, y)
print score

# lasso regularization
clf = sklearn.linear_model.LogisticRegression(penalty='l1')
score = sklearn.cross_validation.cross_val_score(clf, X, y)
print score

# decision tree classifier
clf = sklearn.tree.DecisionTreeClassifier()
score = sklearn.cross_validation.cross_val_score( clf, X, y )
print( score )

# random forest classifier
clf = sklearn.ensemble.RandomForestClassifier()
score = sklearn.cross_validation.cross_val_score( clf, X, y )
print( score )

[ 0.74813131  0.75409091  0.71974747]
[ 0.76893939  0.76727273  0.76823232]
[ 0.75570707  0.75767677  0.75484848]
[ 0.77909091  0.78        0.77944444]

## 03: Convert Process Into Sklearn Pipeline

In [89]:
select = sklearn.feature_selection.SelectKBest(k=100)
clf = sklearn.ensemble.RandomForestClassifier()

# define steps for pipeline
steps = [('feature_selection', select),
         ('random_forest', clf)]
pipeline = sklearn.pipeline.Pipeline(steps)

print pipeline

X_train, X_test, y_train, y_test = sklearn.cross_validation.train_test_split(X, y, test_size=0.3, random_state=42)

## fit, predict, test pipeline
pipeline.fit(X_train, y_train)
y_predict = pipeline.predict(X_test)
report = sklearn.metrics.classification_report(y_test, y_predict)

print report

Pipeline(steps=[('feature_selection', SelectKBest(k=100, score_func=<function f_classif at 0x10d1f5050>)), ('random_forest', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False))])
             precision    recall  f1-score   support

          0       0.77      0.77      0.77      6803
          1       0.41      0.37      0.39      1293
          2       0.81      0.81      0.81      9724

avg / total       0.76      0.76      0.76     17820

In [90]:
score = sklearn.cross_validation.cross_val_score(clf, X, y )
print( score )

[ 0.78        0.78252525  0.78080808]

## 04: Add Grid Search On CLF Parameters
For this example, it will be random forest

In [94]:
params = dict(feature_selection__k=[100, 200],
             random_forest__n_estimators=[50, 100, 200],
             random_forest__min_samples_split=[2, 3, 4, 5, 10])

print json.dumps(params, indent=4)

{
    "random_forest__n_estimators": [
        50,
        100,
        200
    ],
    "feature_selection__k": [
        100,
        200
    ],
    "random_forest__min_samples_split": [
        2,
        3,
        4,
        5,
        10
    ]
}

In [96]:
cv = sklearn.grid_search.GridSearchCV(pipeline, param_grid=params)
cv.fit(X_train, y_train)
y_predict = cv.predict(X_test)
report = sklearn.metrics.classification_report(y_test, y_predict)

/usr/local/lib/python2.7/site-packages/sklearn/feature_selection/univariate_selection.py:113: UserWarning: Features [  12  191  193  206  211  229  232  238  256  269  270  273  277  278  287
  290  291  302  303  307  310  313  315  322  324  325  335  344  347  353
  359  364  371  378  383  392  403  410  419  422  423  429  432  433  437
  440  444  450  453  459  462  474  479  481  485  490  496  502  504  507
  509  521  523  529  533  535  537  538  539  540  541  542  546  547  549
  551  558  561  566  570  583  585  593  597  602  609  620  621  639  647
  648  649  656  677  683  684  691  693  700  705  727  734  735  738  748
  749  751  755  761  767  777  781  782  793  795  797  801  810  812  816
  822  825  826  829  836  845  847  853  855  856  862  863  867  870  873
  889  890  894  903  905  910  912  944  946  947  950  961  965  975  977
  990  994 1004 1005 1011 1012 1024 1026 1031 1034 1036 1044 1048 1051 1052
 1053 1062 1070 1077 1091 1096 1097 1099 1100 1104 1105 1106 1107 1118 1120
 1122 1132 1137 1139 1145 1146 1152 1154 1157 1158 1161 1171 1172 1174 1180
 1186 1188 1191 1197 1200 1203 1205 1212 1225 1228 1238 1240 1242 1244 1247
 1248 1252 1256 1258 1262 1266 1270 1277 1281 1283 1286 1287 1290 1293 1294
 1298 1307 1312 1315 1317 1321 1326 1328 1335 1336 1339 1353 1362 1366 1374
 1377 1379 1382 1384 1386 1394 1398 1399 1400 1402 1405 1417 1418 1422 1423
 1425 1426 1429 1432 1437 1439 1441 1456 1466 1475 1482 1484 1486 1494 1496
 1498 1500 1511 1513 1522 1525 1526 1527 1529 1530 1536 1537 1545 1560 1561
 1563 1566 1568 1579 1585 1586 1606 1613 1620 1622 1623 1626 1628 1629 1636
 1637 1638 1639 1640 1645 1653 1659 1667 1676 1688 1694 1697 1699 1707 1715
 1717 1719 1720 1721 1722 1725 1726 1735 1739 1740 1745 1754 1758 1759 1762
 1774 1798 1799 1812 1816 1818 1825 1833 1835 1837 1838 1845 1851 1852 1866
 1873 1874 1880 1883 1887 1893 1899 1910 1915 1922 1923 1931 1945 1947 1960
 1968 1969 1976 1984 1992 1993 1994 2009 2010 2012 2023 2027 2039 2042 2049
 2066 2072 2074 2076 2081 2095 2109 2122 2124 2128 2130 2139 2141 2144 2152
 2160 2162 2165 2170 2176 2185 2193 2196 2197 2212 2217 2220 2232 2239 2255
 2262 2277 2289 2291 2293 2295 2296 2305 2307 2319 2322 2327 2328 2332 2335
 2336 2347 2348 2354 2358 2373 2375 2383 2385 2389 2397 2402 2406 2407 2408
 2417 2428 2434 2436 2441 2454 2455 2456 2460 2464 2466 2471 2476 2478 2479
 2485 2490 2494 2495 2497 2499 2501 2502 2504 2506 2521 2525 2526 2529 2532
 2534 2539 2540 2544 2546 2547 2548 2559 2571 2572 2579 2584 2588 2590 2596
 2597 2608 2620 2629 2632 2633 2634 2635 2637 2640 2650 2654 2659 2661 2671
 2672 2675 2679 2686 2688 2693 2695 2699 2700 2702 2703 2705 2710 2712 2719
 2723 2726 2728 2729 2730 2738 2741 2745 2747 2753 2755 2763 2767 2772 2775
 2783 2784 2786 2795 2807 2812 2813 2821 2823 2825 2826 2827 2838 2841 2843
 2849 2852 2871 2880 2900] are constant.
  UserWarning)
/usr/local/lib/python2.7/site-packages/sklearn/feature_selection/univariate_selection.py:113: UserWarning: Features [  12  191  206  211  215  220  222  224  232  235  238  247  250  257  262
  263  266  273  278  287  298  302  303  307  312  313  322  325  328  330
  339  344  345  353  357  360  369  371  374  377  378  383  387  390  397
  408  413  420  423  424  428  429  432  433  437  440  442  444  451  475
  479  481  488  509  523  529  533  540  542  546  549  561  574  591  597
  608  609  610  617  620  623  637  648  649  656  674  676  684  688  692
  694  700  702  717  727  730  733  735  746  748  751  759  761  770  773
  782  797  800  803  806  807  810  812  828  829  836  845  847  855  856
  867  889  891  893  894  903  905  912  913  914  918  928  940  944  952
  957  965  969  975  977  996  998  999 1005 1006 1022 1025 1026 1034 1037
 1048 1051 1052 1053 1054 1055 1057 1060 1061 1070 1081 1096 1106 1110 1111
 1112 1118 1120 1127 1128 1136 1138 1139 1145 1146 1158 1162 1172 1174 1180
 1181 1188 1203 1227 1229 1230 1242 1244 1247 1254 1256 1257 1262 1277 1283
 1286 1287 1290 1293 1294 1298 1307 1310 1312 1315 1326 1334 1335 1337 1338
 1347 1351 1354 1366 1373 1374 1390 1391 1392 1398 1399 1402 1405 1418 1423
 1425 1426 1429 1432 1438 1441 1455 1456 1461 1465 1473 1482 1485 1494 1499
 1500 1511 1514 1522 1534 1537 1543 1545 1547 1548 1549 1556 1560 1561 1563
 1564 1566 1571 1573 1576 1586 1594 1595 1597 1605 1606 1607 1613 1614 1617
 1619 1620 1629 1638 1640 1645 1649 1669 1672 1676 1686 1688 1707 1709 1715
 1716 1717 1719 1722 1734 1735 1739 1740 1741 1754 1758 1762 1763 1767 1768
 1771 1788 1789 1795 1808 1818 1819 1823 1825 1826 1835 1838 1845 1847 1848
 1852 1859 1863 1866 1868 1871 1873 1874 1880 1881 1882 1883 1886 1889 1890
 1907 1910 1915 1916 1918 1919 1922 1932 1938 1941 1945 1947 1955 1960 1969
 1985 1992 2002 2017 2018 2020 2022 2023 2039 2044 2049 2050 2061 2066 2069
 2074 2078 2081 2107 2109 2111 2122 2124 2130 2131 2140 2155 2162 2165 2170
 2171 2172 2181 2182 2187 2196 2197 2200 2203 2212 2219 2220 2227 2233 2235
 2239 2244 2245 2248 2260 2262 2278 2290 2291 2294 2300 2304 2305 2307 2322
 2327 2329 2336 2337 2347 2354 2357 2365 2375 2377 2386 2393 2408 2417 2434
 2436 2437 2440 2442 2450 2456 2461 2462 2465 2466 2476 2478 2479 2481 2485
 2487 2490 2501 2504 2506 2510 2511 2519 2525 2526 2532 2539 2540 2543 2548
 2551 2557 2561 2575 2590 2596 2597 2600 2608 2620 2633 2634 2640 2643 2645
 2651 2655 2659 2662 2667 2671 2675 2679 2681 2685 2686 2688 2693 2698 2699
 2702 2703 2717 2718 2738 2745 2753 2755 2763 2765 2767 2772 2779 2780 2784
 2786 2789 2790 2795 2796 2805 2825 2827 2828 2835 2841 2847 2856 2861 2869
 2873 2875 2880 2900] are constant.
  UserWarning)
/usr/local/lib/python2.7/site-packages/sklearn/feature_selection/univariate_selection.py:113: UserWarning: Features [  12  104  191  206  208  211  214  227  232  238  273  275  278  287  302
  303  304  307  311  313  317  322  325  342  344  353  358  366  371  378
  383  388  395  399  400  407  409  423  427  429  432  433  437  440  444
  463  479  481  492  508  509  511  513  514  523  526  529  533  536  540
  542  546  549  561  565  578  579  581  586  588  597  604  609  616  618
  620  627  629  631  640  648  649  656  673  684  687  698  700  703  715
  716  720  727  732  735  736  748  751  756  761  765  768  771  774  776
  782  783  797  810  812  818  829  836  837  845  846  847  855  856  859
  867  889  894  895  896  903  904  905  912  917  921  927  934  944  965
  966  971  973  975  977  983  993 1005 1013 1019 1026 1034 1045 1048 1051
 1052 1053 1070 1073 1074 1082 1085 1092 1096 1106 1118 1119 1120 1139 1140
 1141 1145 1146 1149 1150 1158 1160 1172 1173 1174 1176 1177 1180 1188 1199
 1202 1203 1210 1219 1222 1237 1242 1244 1247 1256 1262 1263 1277 1283 1285
 1286 1287 1290 1291 1293 1294 1296 1298 1302 1307 1312 1315 1318 1320 1325
 1326 1335 1344 1345 1350 1358 1363 1366 1367 1369 1374 1375 1380 1388 1398
 1399 1402 1405 1407 1411 1418 1423 1425 1426 1429 1432 1441 1449 1456 1464
 1467 1478 1482 1494 1500 1511 1516 1517 1522 1523 1531 1537 1545 1560 1561
 1563 1566 1584 1586 1587 1606 1610 1613 1620 1629 1631 1632 1633 1634 1635
 1638 1640 1645 1658 1668 1670 1676 1680 1681 1688 1700 1707 1714 1715 1717
 1719 1722 1733 1735 1737 1739 1740 1747 1754 1758 1762 1765 1766 1772 1780
 1787 1796 1797 1818 1822 1825 1835 1838 1839 1843 1844 1845 1846 1852 1861
 1866 1872 1873 1874 1880 1883 1884 1892 1900 1904 1905 1910 1911 1913 1915
 1917 1922 1933 1936 1937 1945 1947 1959 1960 1961 1969 1990 1992 1997 2013
 2015 2023 2024 2039 2048 2049 2054 2055 2066 2070 2071 2074 2080 2081 2087
 2109 2122 2124 2130 2153 2158 2161 2162 2165 2166 2169 2170 2174 2195 2196
 2197 2204 2205 2211 2212 2218 2220 2229 2239 2243 2251 2261 2262 2265 2268
 2280 2283 2291 2305 2307 2313 2322 2327 2336 2347 2354 2362 2364 2375 2387
 2390 2398 2408 2410 2411 2417 2434 2436 2445 2456 2466 2469 2476 2478 2479
 2485 2490 2491 2493 2496 2501 2503 2504 2506 2523 2525 2526 2530 2531 2532
 2533 2539 2540 2541 2545 2548 2549 2555 2570 2590 2593 2596 2597 2599 2604
 2605 2608 2609 2610 2612 2620 2633 2634 2640 2646 2659 2660 2664 2665 2671
 2674 2675 2678 2679 2684 2686 2688 2689 2693 2699 2702 2703 2707 2738 2742
 2745 2748 2749 2753 2755 2762 2763 2767 2772 2776 2784 2786 2795 2817 2819
 2825 2827 2830 2831 2841 2845 2868 2880 2882 2887 2894 2896 2897 2899 2900] are constant.
  UserWarning)

In [101]:
print report
names = features_df.columns.tolist()
print sorted(zip(map(lambda x: round(x, 4), clf.feature_importances_), names),reverse=True)

             precision    recall  f1-score   support

          0       0.83      0.77      0.80      6803
          1       0.57      0.30      0.39      1293
          2       0.80      0.89      0.84      9724

avg / total       0.79      0.80      0.79     17820

[(0.2726, 'gps_height'), (0.1348, 'amount_tsh'), (0.0397, 'recorded_by'), (0.0397, 'lga_14'), (0.0375, 'num_private'), (0.0274, 'latitude'), (0.0258, 'lga_11'), (0.0231, 'longitude'), (0.0215, 'public_meeting'), (0.0201, 'construction_year'), (0.0153, 'region'), (0.0153, 'basin'), (0.0145, 'lga_36'), (0.0143, 'region_code'), (0.0141, 'region_9'), (0.0134, 'region_12'), (0.0108, 'region_5'), (0.0108, 'extraction_type'), (0.0101, 'lga_12'), (0.0097, 'basin_8'), (0.0092, 'basin_3'), (0.0077, 'region_16'), (0.0076, 'lga_15'), (0.0071, 'district_code'), (0.0069, 'scheme_management'), (0.0068, 'region_18'), (0.0067, 'lga'), (0.006, 'scheme_name'), (0.006, 'basin_4'), (0.0056, 'lga_31'), (0.0052, 'lga_5'), (0.0049, 'region_7'), (0.0049, 'lga_32'), (0.0048, 'population'), (0.0048, 'lga_34'), (0.004, 'region_3'), (0.004, 'lga_1'), (0.004, 'basin_7'), (0.0039, 'lga_33'), (0.0039, 'extraction_type_class'), (0.0038, 'management'), (0.0036, 'payment'), (0.0034, 'management_group'), (0.0033, 'lga_6'), (0.0032, 'lga_24'), (0.0032, 'lga_17'), (0.0032, 'basin_2'), (0.0031, 'region_4'), (0.0031, 'lga_9'), (0.0029, 'lga_29'), (0.0029, 'lga_0'), (0.0028, 'payment_type'), (0.0027, 'region_8'), (0.0027, 'region_17'), (0.0027, 'extraction_type_group'), (0.0026, 'lga_18'), (0.0025, 'basin_0'), (0.0024, 'quality_group'), (0.0024, 'lga_27'), (0.0023, 'lga_28'), (0.0023, 'lga_26'), (0.0023, 'lga_23'), (0.0023, 'lga_21'), (0.0022, 'region_14'), (0.0022, 'lga_7'), (0.0022, 'lga_35'), (0.0022, 'basin_6'), (0.0022, 'basin_5'), (0.0021, 'permit'), (0.002, 'region_2'), (0.002, 'region_19'), (0.002, 'lga_3'), (0.002, 'lga_2'), (0.0019, 'region_15'), (0.0018, 'lga_8'), (0.0018, 'lga_22'), (0.0017, 'region_13'), (0.0016, 'region_11'), (0.0016, 'lga_20'), (0.0016, 'lga_19'), (0.0015, 'water_quality'), (0.0015, 'lga_4'), (0.0015, 'lga_25'), (0.0014, 'region_6'), (0.0014, 'region_10'), (0.0012, 'region_20'), (0.0011, 'waterpoint_type'), (0.001, 'source'), (0.001, 'quantity'), (0.001, 'lga_10'), (0.0009, 'lga_30'), (0.0008, 'basin_1'), (0.0007, 'lga_13'), (0.0006, 'lga_16'), (0.0004, 'region_0'), (0.0003, 'source_type'), (0.0002, 'source_class'), (0.0002, 'region_1'), (0.0002, 'quantity_group'), (0.0001, 'waterpoint_type_group')]